<form action="/sign-up" method="post">
  <label for="email">Email:
    <input type="text" name="email"></input>
  </label>
  <label for="password">Password: 
    <input type="password" name="password"></input>
  </label>
  <input type="submit" value="Submit"></input>
</form>